<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{chat.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{chat.add.headline}]]</h1>
                <div>
                    <a th:href="@{/chats}" class="btn btn-secondary">[[#{chat.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('chat')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='chat', field='senderNickname')}" />
                <div th:replace="~{fragments/forms::inputRow(object='chat', field='senderEmail')}" />
                <div th:replace="~{fragments/forms::inputRow(object='chat', field='message')}" />
                <div th:replace="~{fragments/forms::inputRow(object='chat', field='sendDate', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='chat', field='room', required=true, type='select')}" />
                <input type="submit" th:value="#{chat.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
