<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{userInfo.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{userInfo.add.headline}]]</h1>
                <div>
                    <a th:href="@{/userInfos}" class="btn btn-secondary">[[#{userInfo.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('userInfo')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='userInfo', field='email', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='userInfo', field='imageUrl')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userInfo', field='introduction')}" />
                <input type="submit" th:value="#{userInfo.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
