<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{group.add.headline}]]</title>
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{group.add.headline}]]</h1>
        <div>
            <a th:href="@{/groups}" class="btn btn-secondary">[[#{group.add.back}]]</a>
        </div>
    </div>
    <div th:replace="~{fragments/forms::globalErrors('group')}" />
    <form th:object="${group}" th:action="${requestUri}" method="post" novalidate="">
        <div th:replace="~{fragments/forms::inputRow(object='group', field='title')}" />
        <div th:replace="~{fragments/forms::inputRow(object='group', field='explain')}" />
        <div th:replace="~{fragments/forms::inputRow(object='group', field='placeName')}" />
        <div th:replace="~{fragments/forms::inputRow(object='group', field='address')}" />

        <!-- 날짜와 시간을 하나의 datetime-local로 처리 -->
        <div class="mb-3">
            <label for="groupDate" class="form-label">모임 날짜 및 시간</label>
            <input type="datetime-local" id="groupDate" name="groupDate" class="form-control" th:field="*{groupDate}" />
        </div>

        <div th:replace="~{fragments/forms::inputRow(object='group', field='maxPeople', type='number')}" />
        <!-- nowPeople과 status 줄 제거됨 -->
        <div th:replace="~{fragments/forms::inputRow(object='group', field='latitude')}" />
        <div th:replace="~{fragments/forms::inputRow(object='group', field='longitude')}" />
        <div th:replace="~{fragments/forms::inputRow(object='group', field='during', type='number')}" />
        <div th:replace="~{fragments/forms::inputRow(object='group', field='category', type='select')}" />

        <!-- HashTags 추가 -->
        <div th:replace="~{fragments/forms::inputRow(object='group', field='hashTags')}" />

        <input type="submit" th:value="#{group.add.headline}" class="btn btn-primary mt-4" />
    </form>
</div>

<script>
    // datetime-local 입력에 최소 날짜 설정
    document.getElementById('groupDate').setAttribute('min', new Date().toISOString().slice(0, 16));
</script>
</body>
</html>