<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{participant.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{participant.add.headline}]]</h1>
                <div>
                    <a th:href="@{/participants}" class="btn btn-secondary">[[#{participant.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('participant')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='participant', field='role', type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='participant', field='status', type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='participant', field='member', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='participant', field='group', required=true, type='select')}" />
                <input type="submit" th:value="#{participant.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
