<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{calendar.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{calendar.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/calendars}" class="btn btn-secondary">[[#{calendar.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('calendar')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='calendar', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='calendar', field='email')}" />
                <div th:replace="~{fragments/forms::inputRow(object='calendar', field='selectedDate', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='calendar', field='type', type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='calendar', field='content', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='calendar', field='group', type='select')}" />
                <input type="submit" th:value="#{calendar.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
