<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{calendar.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{calendar.list.headline}]]</h1>
                <div>
                    <a th:href="@{/calendars/add}" class="btn btn-primary ms-2">[[#{calendar.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${calendars.empty}">[[#{calendar.list.empty}]]</div>
            <div th:if="${!calendars.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{calendar.id.label}]]</th>
                            <th scope="col">[[#{calendar.email.label}]]</th>
                            <th scope="col">[[#{calendar.selectedDate.label}]]</th>
                            <th scope="col">[[#{calendar.type.label}]]</th>
                            <th scope="col">[[#{calendar.content.label}]]</th>
                            <th scope="col">[[#{calendar.group.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="calendar : ${calendars}">
                            <td>[[${calendar.id}]]</td>
                            <td>[[${calendar.email}]]</td>
                            <td>[[${calendar.selectedDate}]]</td>
                            <td>[[${calendar.type}]]</td>
                            <td>[[${calendar.content}]]</td>
                            <td>[[${calendar.group}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/calendars/edit/{id}(id=${calendar.id})}" class="btn btn-sm btn-secondary">[[#{calendar.list.edit}]]</a>
                                    <form th:action="@{/calendars/delete/{id}(id=${calendar.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{calendar.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
