<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{groupChatRoom.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{groupChatRoom.list.headline}]]</h1>
                <div>
                    <a th:href="@{/groupChatRooms/add}" class="btn btn-primary ms-2">[[#{groupChatRoom.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${groupChatRooms.empty}">[[#{groupChatRoom.list.empty}]]</div>
            <div th:if="${!groupChatRooms.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{groupChatRoom.id.label}]]</th>
                            <th scope="col">[[#{groupChatRoom.group.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="groupChatRoom : ${groupChatRooms}">
                            <td>[[${groupChatRoom.id}]]</td>
                            <td>[[${groupChatRoom.group}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/groupChatRooms/edit/{id}(id=${groupChatRoom.id})}" class="btn btn-sm btn-secondary">[[#{groupChatRoom.list.edit}]]</a>
                                    <form th:action="@{/groupChatRooms/delete/{id}(id=${groupChatRoom.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{groupChatRoom.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
