<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{content.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{content.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/contents}" class="btn btn-secondary">[[#{content.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('content')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <input type="submit" th:value="#{content.edit.headline}" class="btn btn-primary mt-4 mb-4" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='contentTitle')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='fee')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='age')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='startDate', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='endDate', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='address')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='url')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='guname')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='runTime')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='startTime', inputClass='js-timepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='content', field='category', required=true, type='select')}" />
                <input type="submit" th:value="#{content.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
