<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{content.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{content.list.headline}]]</h1>
                <div>
                    <a th:href="@{/contents/add}" class="btn btn-primary ms-2">[[#{content.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${contents.empty}">[[#{content.list.empty}]]</div>
            <div th:if="${!contents.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{content.id.label}]]</th>
                            <th scope="col">[[#{content.contentTitle.label}]]</th>
                            <th scope="col">[[#{content.description.label}]]</th>
                            <th scope="col">[[#{content.startDate.label}]]</th>
                            <th scope="col">[[#{content.endDate.label}]]</th>
                            <th scope="col">[[#{content.address.label}]]</th>
                            <th scope="col">[[#{content.latitude.label}]]</th>
                            <th scope="col">[[#{content.longitude.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="content : ${contents}">
                            <td>[[${content.id}]]</td>
                            <td>[[${content.contentTitle}]]</td>
                            <td>[[${content.description}]]</td>
                            <td>[[${content.startDate}]]</td>
                            <td>[[${content.endDate}]]</td>
                            <td>[[${content.address}]]</td>
                            <td>[[${content.latitude}]]</td>
                            <td>[[${content.longitude}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/contents/edit/{id}(id=${content.id})}" class="btn btn-sm btn-secondary">[[#{content.list.edit}]]</a>
                                    <form th:action="@{/contents/delete/{id}(id=${content.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{content.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
