<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{notification.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{notification.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/notifications}" class="btn btn-secondary">[[#{notification.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('notification')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='notification', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='notification', field='email')}" />
                <div th:replace="~{fragments/forms::inputRow(object='notification', field='message')}" />
                <div th:replace="~{fragments/forms::inputRow(object='notification', field='link')}" />
                <div th:replace="~{fragments/forms::inputRow(object='notification', field='isRead', type='checkbox')}" />
                <input type="submit" th:value="#{notification.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
