<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{chatBot.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{chatBot.list.headline}]]</h1>
                <div>
                    <a th:href="@{/chatBots/add}" class="btn btn-primary ms-2">[[#{chatBot.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${chatBots.empty}">[[#{chatBot.list.empty}]]</div>
            <div th:if="${!chatBots.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{chatBot.id.label}]]</th>
                            <th scope="col">[[#{chatBot.email.label}]]</th>
                            <th scope="col">[[#{chatBot.groupSummary.label}]]</th>
                            <th scope="col">[[#{chatBot.contentSummary.label}]]</th>
                            <th scope="col">[[#{chatBot.type.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="chatBot : ${chatBots}">
                            <td>[[${chatBot.id}]]</td>
                            <td>[[${chatBot.email}]]</td>
                            <td>[[${chatBot.groupSummary}]]</td>
                            <td>[[${chatBot.contentSummary}]]</td>
                            <td>[[${chatBot.type}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/chatBots/edit/{id}(id=${chatBot.id})}" class="btn btn-sm btn-secondary">[[#{chatBot.list.edit}]]</a>
                                    <form th:action="@{/chatBots/delete/{id}(id=${chatBot.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{chatBot.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
