<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{contentBookmark.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{contentBookmark.list.headline}]]</h1>
                <div>
                    <a th:href="@{/contentBookmarks/add}" class="btn btn-primary ms-2">[[#{contentBookmark.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${contentBookmarks.empty}">[[#{contentBookmark.list.empty}]]</div>
            <div th:if="${!contentBookmarks.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{contentBookmark.id.label}]]</th>
                            <th scope="col">[[#{contentBookmark.email.label}]]</th>
                            <th scope="col">[[#{contentBookmark.content.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="contentBookmark : ${contentBookmarks}">
                            <td>[[${contentBookmark.id}]]</td>
                            <td>[[${contentBookmark.email}]]</td>
                            <td>[[${contentBookmark.content}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/contentBookmarks/edit/{id}(id=${contentBookmark.id})}" class="btn btn-sm btn-secondary">[[#{contentBookmark.list.edit}]]</a>
                                    <form th:action="@{/contentBookmarks/delete/{id}(id=${contentBookmark.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{contentBookmark.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
