<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{groupHashTag.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{groupHashTag.list.headline}]]</h1>
                <div>
                    <a th:href="@{/groupHashTags/add}" class="btn btn-primary ms-2">[[#{groupHashTag.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${groupHashTags.empty}">[[#{groupHashTag.list.empty}]]</div>
            <div th:if="${!groupHashTags.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{groupHashTag.id.label}]]</th>
                            <th scope="col">[[#{groupHashTag.tag.label}]]</th>
                            <th scope="col">[[#{groupHashTag.group.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="groupHashTag : ${groupHashTags}">
                            <td>[[${groupHashTag.id}]]</td>
                            <td>[[${groupHashTag.tag}]]</td>
                            <td>[[${groupHashTag.group}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/groupHashTags/edit/{id}(id=${groupHashTag.id})}" class="btn btn-sm btn-secondary">[[#{groupHashTag.list.edit}]]</a>
                                    <form th:action="@{/groupHashTags/delete/{id}(id=${groupHashTag.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{groupHashTag.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
