<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{contentCategory.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{contentCategory.add.headline}]]</h1>
                <div>
                    <a th:href="@{/contentCategories}" class="btn btn-secondary">[[#{contentCategory.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('contentCategory')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='contentCategory', field='category', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='contentCategory', field='during', type='number')}" />
                <input type="submit" th:value="#{contentCategory.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
